@model MvcPet.Models.User
@{
  ViewData["Title"] = "Usuário";
}

<h1>@Model.name</h1>
<hr>
<h5>E-mail: @Model.email</h5>
<h5>Telefone> @Model.phone</h5>
<hr>
<h5>
  <a href="#">Pets cadastrados pelo Usuário</a>
</h5>