@{
  ViewData["Title"] =  "Ops...";
}

<h3>Como você chegou aqui?</h3>

<h5>Também não fazemos ideia, mas vamos fazer assim. Volta do início e tenta novamente</h5>

<a asp-asp-controller="Home" asp-action="Index" class="btn btn-primary">Início</a>