@model MvcPet.Models.UserPetViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    @if ( SignInManager.IsSignedIn(User) ) {
			@* <h1>Bem vindo @UserManager.GetUserName(User) </h1>  *@
            string firstName = Model.User.name.Split(" ")[0];
			<h3>Olá @firstName </h3>
            <h5>Pronto pra adotar um Pet hoje?</h5>
            <hr>
    } 
    else 
    {
			<h3 class="display-4">Seja Bem vindo!</h3>
    }

    <div>
			<h2>Pets do dia!</h2>
			<small>Cadastrado(s) hoje (@DateTime.Today.ToString().Split(" ")[0])</small>
    </div>
</div>


