@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "Confirmar Cadastro";
}

<h1 class="title" style="text-align: center;">@ViewData["Title"]</h1>
@{
	if (@Model.DisplayConfirmAccountLink)
	{
		<p>
			Precisamos confirmar seu Registro.
			<br>
			Para fazer isso, <a id="confirm-link" href="@Model.EmailConfirmationUrl">clique aqui.</a>
		</p>
	}
	else
	{
		<p>
			Please check your email to confirm your account.
		</p>
  }
}
